
<h1>new snippet</h1>
<% if current_user %>
<%= link_to 'New Snippet', new_snippet_path %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
<% end %>
<article>
<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Content</th>
      <th>Published?</th>
      <th>Grouping</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</article>


  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.name %></td>
        <td><%= snippet.content %></td>
        <td><%= snippet.draft %></td>
        <td><%= snippet.group_name %></td>
        <td><%= link_to 'Show', snippet %></td>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td><%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p id="notice"><%= notice %></p>

<br>
