<p id="notice"><%= notice %></p>

<p>
  <strong>Snippet:</strong>
  <%= @snippet.name %>
</p>

<p>
  <strong>Snippet Content:</strong>
  <%= @snippet.content %>
</p>

<p>
  <strong>Publish?:</strong>
  <%= @snippet.drafts %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @snippet.group_name %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
