<!DOCTYPE html>
<html>
  <head>
    <title>Snippet Repo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />

  </head>

  <body>
    <!--><div class="headerblock"></-->
      <div class="left">
        <%= link_to 'snippets', root_path %>
      </div>
      <div class="middle">
          <%= form_tag search_path do %>
          <p>
            <%= text_field_tag :search %>
            <%= submit_tag "Search" %>
          </p>
        <% end %>
      </div>
      <div class="right">
        <% if current_user %>
            <%= link_to 'dashboard', users_dashboard_path %>
            <%= link_to 'sign out', session_path('dummy'), method: :delete %>
          <% else %>
            <%= link_to 'sign in', login_path %>
            <%= link_to '/ up', new_user_path %>
          <% end %>      <!--></div></-->
        </div>
      <%= yield %> <!-- meta view-->
  </body>
</html>
